@use '@/styles/partials/variables.scss' as *;
@use '@/styles/partials/mixins.scss' as *;

.container {
  display: block;
  padding: 1rem;
  background: none;

  @include desktop {
    padding: 1rem 2.5rem;
  }
}

.hero {
  min-height: 25rem;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  background-color: $main-a;
  padding: 5rem 1rem;
  border: 1px solid $main-b;
  border-radius: 0.25rem;
  box-shadow: 0 10px 10px 0 rgba(89, 89, 89, 0.15);

  @include tablet {
    width: 35rem;
    justify-content: flex-start;
    margin: 2.5rem 0;
  }

  @include desktop {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
  }

  &__title {
    margin-bottom: 1rem;

    @include desktop {
      text-align: center;
    }
  }

  &__subtitle {
    font-weight: $fw-bold;

    @include desktop {
      text-align: center;
    }
  }

  &__highlight {
    color: $accent-b;
    font-weight: $fw-bold;
    font-style: italic;
    margin-bottom: 1rem;
  }

  &__link {
    width: 55%;

    @include tablet {
      max-width: 15rem;
    }

    @include desktop {
      max-width: 20rem;
    }
  }

  &__btn {
    font-family: $font-family;
    font-weight: $fw-bold;
    color: $main-a;
    font-size: 1rem;
    background-color: $accent-c;
    border: 2px solid $accent-c;
    border-radius: 0.25rem;
    padding: 0.75rem 1rem;
    width: 100%;
    cursor: pointer;

    &:active {
      position: relative;
      top: 0.2rem;
    }

    @include tablet {
      font-size: 1.25rem;
    }

    &--red {
      background-color: $accent-a;
      border-color: $accent-a;
    }

    &--green {
      background-color: $accent-b;
      border-color: $accent-b;
    }
  }
}
